*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
html {
    font-size: 62.5%;
    user-select: none;
    font-family: sans-serif;
    overflow-x: hidden;
    text-align: center;
}